/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 *
 * @version
 * 2.0.320 (May 03 2009)
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * @license
 * This file is part of SyntaxHighlighter.
 * 
 * SyntaxHighlighter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * SyntaxHighlighter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with SyntaxHighlighter.  If not, see <http://www.gnu.org/copyleft/lesser.html>.
 */
/**
 * Midnight SyntaxHighlighter theme based on theme by J.D. Myers
 * http://webdesign.lsnjd.com/
 */

/************************************
 * Interface elements.
 ************************************/

.syntaxhighlighter
{
	background-color: #0F192A !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
	color: #38566F !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
	border-left: 3px solid #435A5F !important;
	color: #B9BDB6 !important;
}

.syntaxhighlighter.printing .line .content 
{
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1 .content
{
	background-color: #0F192A !important;
}

/* Second line */
.syntaxhighlighter .line.alt2 .content
{
	background-color: #0F192A !important;
}

.syntaxhighlighter .line .content .block
{
	background: url(../images/wrapping.png) 0 1.1em no-repeat !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number
{
	background-color: #253E5A !important;
	color: #fff !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content
{
	background-color: #253E5A !important;
}

.syntaxhighlighter .ruler
{
	color: #38566F !important;
	background-color: #0F192A !important;
	border-left: 3px solid #435A5F !important;
}

.syntaxhighlighter.nogutter .ruler
{
	border: 0 !important;
}

.syntaxhighlighter .toolbar
{
	background-color: #0F192A !important;
}

.syntaxhighlighter .toolbar a
{
	color: #38566F !important;
}

.syntaxhighlighter .toolbar a:hover
{
	color: #8AA6C1 !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
	color: #D1EDFF !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
	color: #428BDD !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
	color: #1DC116 !important; 
}

.syntaxhighlighter .keyword
{ 
	color: #B43D3D !important; 
}

.syntaxhighlighter .preprocessor 
{ 
	color: #8AA6C1 !important; 
}

.syntaxhighlighter .variable 
{ 
	color: #FFAA3E !important; 
}

.syntaxhighlighter .value
{ 
	color: #F7E741 !important; 
}

.syntaxhighlighter .functions
{ 
	color: #FFAA3E !important; 
}

.syntaxhighlighter .constants
{ 
	color: #E0E8FF !important; 
}

.syntaxhighlighter .script
{ 
	background-color: #404040 !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
	color: #F8BB00 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
	color: #FFFFFF !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
	color: #FFAA3E !important; 
}
